.price {
  display: flex;
  gap: 17.61px;
}

.price__input {
  display: block;
  max-width: 118px;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: 2px solid var(--primary-lighter);
  border-radius: 4px;
  appearance: none;

  &::placeholder {
    color: var(--base-grey);
  }

  &:focus {
    border-color: var(--primary-darker);
  }

  &:disabled {
    background-color: var(--lightest-grey);
    color: var(--base-grey);
    border-color: var(--light-grey);
  }
}

.price__dash {
  font-size: 17px;
  font-weight: 600;
  line-height: 36px;
  color: var(--base-grey);
}

@media (min-width: $tablet-width) {
  .price {
    gap: 13.84px;
  }

  .price__input {
    max-width: 92.7px;
    padding: 8px 10px 4px;
  }

  .price__dash {
    font-size: 15px;
    line-height: 38px;
  }
}

@media (min-width: $desktop-width) {
  .price {
    gap: 20px;
  }

  .price__input {
    max-width: 134px;
    padding: 8px 10px 3px;
  }

  .price__dash {
    font-size: 18px;
  }
}
