.range__controls {
  padding: 10.46px 0;
}

.range__scale {
  position: relative;
  width: 280px;
  height: 2.09px;
  background-color: var(--light-grey);
}

.range__bar {
  position: absolute;
  top: -50%;
  left: 10.57px;
  width: 241px;
  height: 4.18px;
  background-color: var(--primary-lighter);
}

.range__toggle {
  position: absolute;
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--base-white);
  border: 2px solid var(--primary-lighter);
  border-radius: 50%;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: var(--base-white);
    border-radius: 50%;
  }

  &--min {
    top: -10px;
    left: -11px;
  }

  &--max {
    top: -10px;
    right: -8px;
  }
}

.range__toggle:hover,
.range__toggle:focus {
  &::after {
    background-color: var(--primary-opacity);
  }
}

.range__toggle:active {
  &::after {
    background-color: var(--base-primary);
  }
}

.range__bar--disabled {
  background-color: var(--base-grey);
}

.range__bar--disabled .range__toggle {
  background-color: var(--lightest-grey);
  border-color: var(--base-grey);
}

@media (min-width: $tablet-width) {
  .range__controls {
    padding: 10px 0;
  }

  .range__scale {
    width: 219.98px;
    height: 2px;
  }

  .range__bar {
    left: 8.3px;
    width: 189.54px;
    height: 4px;
  }

  .range__toggle {
    &--min {
      left: -8px;
    }

    &--max {
      right: -2px;
    }
  }
}

@media (min-width: $desktop-width) {
  .range__controls {
    padding: 11px 0;
  }

  .range__scale {
    width: 318px;
  }

  .range__bar {
    left: 12px;
    width: 274px;
  }

  .range__toggle {
    &--min {
      left: -12px;
    }

    &--max {
      right: -12px;
    }
  }
}
