.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.site-list__link {
  display: block;
  padding: 20px 20px 20px;
  text-transform: uppercase;
  color: var(--base-black);
  text-decoration: none;
  border-top: 1px solid var(--base-secondary);

  &:last-child {
    border-bottom: 1px solid var(--base-secondary);
  }

  &:active {
    background-color: var(--base-secondary);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    &--current {
      border-bottom: 2px solid var(--base-primary);
    }
  }

  .site-list__link {
    padding: 31px 19px 30px 22px;
    border-top: none;

    &:last-child {
      border-bottom: none;
    }

    &:hover,
    &:focus {
      color: var(--base-primary);
    }

    &:active {
      background-color: var(--base-secondary);
      color: var(--base-primary);
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    gap: 20px;
  }
}
