.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 656px;
  padding: 20px 0 60px;

  &--flat {
    background-color: var(--flat-white);
  }

  &--latte {
    background-color: var(--lavender-latte);
  }

  &--espresso {
    background-color: var(--espresso);
  }
}

.slider-item__picture {
  display: block;
  width: 280px;
  height: 280px;
}

.slider-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
}

.slider-item__badge {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--base-primary);
}

.slider-item__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
}

.slider-item__description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.slider-item__buy {
  display: flex;
  vertical-align: middle;
  gap: 21px;
}

.slider-item__price {
  display: flex;
  gap: 6px;
  padding: 4px 0;
}

.slider-item__price-old {
  font-size: 16px;
  line-height: 32px;
  color: var(--base-primary);
}

.slider-item__price-new {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

@media (min-width: $tablet-width) {
  .slider-item {
    gap: 20px;
    min-height: 828px;
    padding: 60px 0 0;

    &--flat {
      background: linear-gradient(180deg, var(--flat-white) 77.4%, transparent 50%);
    }

    &--latte {
      background: linear-gradient(180deg, var(--lavender-latte) 77.4%, transparent 50%);
    }

    &--espresso {
      background: linear-gradient(180deg, var(--espresso) 77.4%, transparent 50%);
    }
  }

  .slider-item__picture {
    width: 476px;
    height: 476px;
  }

  .slider-item__text {
    order: -1;
  }

  .slider-item__title {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }

  .slider-item__description {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .slider-item {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    min-height: 714px;
    padding: 30px 0 84px 25px;

    &--flat {
      background-color: var(--flat-white);
    }

    &--latte {
      background-color: var(--lavender-latte);
    }

    &--espresso {
      background-color: var(--espresso);
    }
  }

  .slider-item__picture {
    width: 600px;
    height: 600px;
  }

  .slider-item__text {
    align-items: flex-start;
    order: 1;
    max-width: 625px;
    padding: 150px 0 158px;
  }

  .slider-item__description {
    text-align: start;
    margin-bottom: 40px;
  }
}
