.user-list {
  display: flex;
  max-width: 180px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-list__link {
  display: block;
  padding: 22px;

  &:active {
    background-color: var(--base-secondary);
  }
}

.user-list__icon {
  display: block;
  width: 16px;
  height: 16px;
}

.user-list__link-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    gap: 20px;
    max-width: 300px;
  }

  .user-list__link {
    display: flex;
    gap: 8px;
    padding: 32px 20px;
    text-decoration: none;

    &:hover .user-list__icon,
    &:focus .user-list__icon {
      fill: var(--base-primary);
    }

    &:hover .user-list__link-text,
    &:focus .user-list__link-text {
      color: var(--base-primary);
    }

    &:active {
      background-color: var(--base-secondary);
    }

    &:active .user-list__icon {
      fill: var(--base-primary);
    }

    &:active .user-list__link-text {
      color: var(--base-primary);
    }
  }

  .user-list__link-text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--base-black);
    text-transform: uppercase;
  }
}
